.button {
    background-color: #7311D4;
    border: none;
    color: #fff;
    width: 100%;
    font-weight: bold;
    padding: 12px 0px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}