.form {
    display: flex;
    border: 2px solid #E5E7EB;
    max-width: 70%;
    border-radius: 12px;
    margin: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 5px 15px;
    background-color: #fff;
}

.input {
    border: none;
    padding: 15px 10px;
    width: 100%;
}

.input:focus {
    outline: none;
}

.submitButton {
    background-color: #7C3AED;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .form {
        max-width: 95%;
    }
}