.main {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.content {
    flex: 1;
    background-color: #FAFAFA;
    color: #0A0A0A;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.chat {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.sendMessageContainer {
    margin-bottom: 20px;
}